<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppinglistapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingListApplication">
        <activity
            android:name=".uiShoppingList.EditShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".uiShoppingList.ShoppingListActivityToEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiShoppingList.ShoppingListActivityToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiShoppingList.ShoppingListDetailActivity"
            android:exported="false" />
        <activity
            android:name=".uiShoppingList.NewShoppingListNameActivity"
            android:exported="false" />
        <activity
            android:name=".uiShoppingList.ShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".uiShoppingList.GenerateShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".uiUnitOfMeasurement.UnitsOfMeasurementToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiFormOfAccessibility.FormOfAccessibilityToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.NewListOfPreferencesActivity4"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.NewListOfPreferencesActivity3"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.EditListOfPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.ListOfPreferencesToEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.ListOfPreferencesToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.EditPortionsActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.CompositionListOfThePreferencesToEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.CompositionListOfThePreferencesToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.NewListOfThePreferencesDetailActivity2"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.NewListOfThePreferencesDetailActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.CompositionListOfThePreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.NewListOfPreferencesActivity2"
            android:exported="false" />
        <activity
            android:name=".uiDishes.EditQuantityActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.IngredientsDishToEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.IngredientsDishToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishDetailActivity3"
            android:exported="false" />
        <activity
            android:name=".uiDishes.EditDishActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.DishesToEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.DishesToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishActivity5"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishActivity4"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishActivity3"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishActivity2"
            android:exported="false" />
        <activity
            android:name=".uiCategories.ProductsByCategoryToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.EditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.CategoriesToEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.CategoriesToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductFormDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.NewProductFormActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.EditProductUnitActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.EditProductCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductsToEditActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductFormsActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductUnitActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductsToDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.NewProductInCategoryActivity2"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishDetailActivity2"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishDetailActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.NewDishActivity"
            android:exported="false" />
        <activity
            android:name=".uiFormOfAccessibility.NewFormOfAccessibilityActivity"
            android:exported="false" />
        <activity
            android:name=".uiUnitOfMeasurement.NewUnitOfMeasurementActivity"
            android:exported="false" />
        <activity
            android:name=".uiFormOfAccessibility.FormOfAccessibilityActivity"
            android:exported="false" />
        <activity
            android:name=".uiUnitOfMeasurement.UnitsOfMeasurementActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.NewProductActivity3"
            android:exported="false" />
        <activity
            android:name=".uiProducts.NewProductActivity2"
            android:exported="false" />
        <activity
            android:name=".uiDishes.IngredientsDishActivity"
            android:exported="false" />
        <activity
            android:name=".uiDishes.DishesActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.NewProductInCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.ProductsByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.NewCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".uiCategories.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.ListsOfPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".uiListOfPreferences.NewListOfPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".uiProducts.NewProductActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>